#results
    unless !restaurants || restaurants.length == 0
        .row
            .col-md-12
                h4 Results
                each restaurant in restaurants
                    li.card
                    .card-body
                        h5.card-title= restaurant.name
                        p.card-text= restaurant.address
