.row
  .col-md-12
    h4 Results
    - var list = ["Uno", "Dos", "Tres", "Cuatro", "Cinco"]
    each item in list
      li.card
      //(style="width: 18rem;")
      .card-body
      h5.card-title= item
      p.card-text Restaurant details
    
      //a.btn.btn-raised(href='#', role='button') View details »
       