- var keywords = ""
- var zipCode = ""
.search-area.input-group.mb-3
  input.form-control.search(type="text", name="search", value=keywords)
  input.zip(type="number", name="zip", placeholder='66210', value=zipCode)
  .input-group-prepend
    button.btn.btn-outline-secondary(type='submit', (click)='setLoading(true)') Search
