extends layout

block content
  h1 Where's The Food?! 
  p.lead A web application to find best locations to eat the food you want to eat :D
  hr
  .row
    .col-md-6
      h4 Search bar here
      p 
  hr
  .row
    .col-md-12
      h4 Results
      a.btn.btn-raised(href='#', role='button') View details »
    //.col-md-6
    //  h2 Heading
    //  p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //  p
    //    a.btn.btn-raised(href='#', role='button') View details »
    //.col-md-6
    //  h2 Heading
    //  p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //  p
    //    a.btn.btn-raised(href='#', role='button') View details »
    //.col-md-6
    //  h2 Heading
    //  p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //  p
    //    a.btn.btn-raised(href='#', role='button') View details »